* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

}
#titleAdminPage{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    color: white;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-bottom: 2px solid grey;
    
}
.navColumnWise .nav-tabs {
    width: 30%;
}

/* .tabContainer{
    width: 30%;
} */
.productMainContainer{
    display: flex;
    flex-direction: column;
}
.productMainContainer p {
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    border-bottom: 2px solid grey;
    padding: 10px;
}
.productInnerContainerClass{
    display: flex;
}
.productInnerContainerClass .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
    gap: 5px;
}

.product-card {
    width: 23%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.product-card .productImg {
    width: 100%;
    aspect-ratio: 1;
    object-fit: scale-down;
}

.product-card .product-title {
    font-size: 18px;
}

.product-card .product-description {
    font-size: 14px;
}

.product-card .rating img {
    width: 30px;
}

.product-card p {
    font-size: 16px;
}

.product-card .productBtn {
    background: #FFD814;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.product-card .productBtn:not(:disabled):hover,
.product-card .productBtn:not(:disabled):focus {
    outline: 0;
    background: #FFD814;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15);
}


/* update product ++++++++++++++++++++++ */
.formContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
    margin: 80px auto 0px auto;
    box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
    border-radius: 10px;

}

.formContainer input {
    text-align: center;
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 35px;
    border-bottom: 3px solid grey;
    border-radius: 4px;
    border: 3px solid transparent;

}

.formContainer input:focus {
    border: none;
    border: 3px solid orange;
}

.formContainer input:focus-visible {
    border: none;
    border: 3px solid orange;
}

.formContainer input:visited {
    border: none;
    border: 3px solid green;
}


.formContainer input::placeholder {
    padding-bottom: 20px;
    text-align: center;
}

.formContainer h4 {
    font-weight: 600;
    font-size: 500;
    color: #000;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
}

.formContainer button {
    width: 300px;
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.formContainer button {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.formContainer button {

    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

/* update product ----------------------- */

/* css alert box for updating items +++++++++++++ */

/* css alert box for updating items -------------------- */

/* add product section +++++++++++++++++++++++++++++++ */
.productAddingFormContainer h4{
    font-weight: 600;
    font-size: 500;
    color: #000;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
}
.addProductFormContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
    margin: 80px auto 0px auto;
    box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
    border-radius: 10px;

}

.addProductFormContainer input {
    text-align: center;
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 35px;
    border-bottom: 3px solid grey;
    border-radius: 4px;
    border: 3px solid transparent;

}

.addProductFormContainer input:focus {
    border: none;
    border: 3px solid orange;
}

.addProductFormContainer input:focus-visible {
    border: none;
    border: 3px solid orange;
}

.addProductFormContainer input:visited {
    border: none;
    border: 3px solid green;
}


.addProductFormContainer input::placeholder {
    padding-bottom: 20px;
    text-align: center;
}

.addProductFormContainer h4 {
    font-weight: 600;
    font-size: 500;
    color: #000;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
}

.addProductFormContainer button {
    width: 300px;
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.addProductFormContainer button {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.addProductFormContainer button {

    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

/* add product section -------------------------------- */

/* delete product section +++++++++++++++++++++++++++++++ */
.productAddingFormContainer h4{
    font-weight: 600;
    font-size: 500;
    color: #000;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
}
.deleteProductFormContainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
    margin: 80px auto 0px auto;
    box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
    border-radius: 10px;

}

.deleteProductFormContainer input {
    text-align: center;
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 35px;
    border-bottom: 3px solid grey;
    border-radius: 4px;
    border: 3px solid transparent;

}

.deleteProductFormContainer input:focus {
    border: none;
    border: 3px solid orange;
}

.deleteProductFormContainer input:focus-visible {
    border: none;
    border: 3px solid orange;
}

.deleteProductFormContainer input:visited {
    border: none;
    border: 3px solid green;
}


.deleteProductFormContainer input::placeholder {
    padding-bottom: 20px;
    text-align: center;
}

.deleteProductFormContainer h4 {
    font-weight: 600;
    font-size: 500;
    color: #000;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
}

.deleteProductFormContainer button {
    width: 300px;
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.deleteProductFormContainer button {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.deleteProductFormContainer button {

    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
/* delete product section ----------------------------- */
