body {
  margin: 0;
  padding: 0;
}

.sort-bar {
  width: 100%;
  height: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.results h2 {
  font-weight: 300;
}

.results p {
  margin-top: 0;
}

.card {
  width: 23%;
  margin: 1%;
  display: inline-block;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card p {
  margin-bottom: 1rem;
}

.card .rating {
  display: block;
  font-size: 0.8rem;
  color: #f90;
}

.card .price {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  color: #00f;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
